<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="../static/js/navbar.js" defer></script>
    <title>Accueil - Groupie Tracker</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/src/logo.png">
</head>
<body>
    <div class="navbar">
        <h1>Groupie Tracker</h1>
        <h4>All you want to know about concerts</h4>
        <nav class="tabs">
            <div class="selector"></div>
            <a href="#"  class="link active">Accueil</a>
            <a href="/artists" class="link">Artistes</a>
            <a href="/dates" class="link">Dates</a>
            <a href="/locations" class="link">Villes</a>
        </nav>
    </div>
    <div class="main">
        <div class="demo_wrap">
            <h1>Ne manque plus une miette des concerts de tes artistes favoris !</h1>
            <article id="left">
                <p class="left"><span class="bold">Groupie Tracker</span> est un projet consistant à répertorier toutes les données associées à la programmation des concerts à travers le monde.</p>
                <p class="left">Que ce soit l'<span class="bold">artiste</span>, la <span class="bold">date</span> ou la <span class="bold">ville</span>, tu peux faire tes recherches afin de manquer aucun concert de tes artistes préférés.</p>
                <p class="left">N'hésite pas à user et abuser des fonctionnalités de <span class="bold">tri</span> mises à disposition.</p>
            </article>
            <article id="right">
                <p class="right">Dans l'attente que les restrictions gouvernementales s'atténuisent et que les tournées reprennent en trombe, nous vous proposons de faire un point sur les concerts des artistes les plus célèbres de ces dernières décennies.</p>
                <p class="right">Bien évidemment, nous serons les premiers à informer quant à la reprise des concerts et tournées pour le plus grand plaisir des fans de musique !</p>
            </article>
        </div>
        <div class="content wrapper">
            <h1> Il n'y a pas beaucoup d'actu en ce moment :( </h1>
        </div>
    </div>
    <footer>
        <div>Icons created by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
</body>
</html>